<%- include('header'); -%>
<main class="container">
  <h1><%= title %></h1>
  <p>Si vous voyez cette page, c'est sans doute que votre reverse proxy est configuré correctement.</p>
</main>
<%- include('footer') -%>
